<div class="row">
    <aside class="col-md-12">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="post_form">
            <%= render 'shared/post_form' %>
        </section>
    </aside>
</div>

<script>
//jQuery实现textarea高度根据内容自适应
$.fn.extend({
    txtaAutoHeight: function () {
        return this.each(function () {
            var $this = $(this);
            if (!$this.attr('initAttrH')) {
                $this.attr('initAttrH', $this.outerHeight());
            }
            setAutoHeight(this).on('input', function () {
                setAutoHeight(this);
            });
        });
        function setAutoHeight(elem) {
            var $obj = $(elem);
            return $obj.css({ height: $obj.attr('initAttrH'), 'overflow-y': 'hidden' }).height(elem.scrollHeight);
        }
    }
});

//调用
$(function () {
    $("#post_content").txtaAutoHeight();
});
</script>
